body {
    position: relative;
}

.copyright {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.copyright span {
    display: block;
    text-align: center;
}
.container {
    position: relative;
}

.container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url('../image/youtube.png') no-repeat center;
    opacity: 0.1;
    z-index: -1;
    /* Ensure the pseudo-element is behind the content */
}